.form-inline {
  display: inline-block;
}

.scrollable {
  height: 300px;
  overflow-y: scroll;
}

.list-group-item .online-status {
  float: right;
  margin-top: 12px;
  font-size: 22px;
}

.media-view {
  background: #000;
  margin-bottom: 20px;
  position: relative;
}

.media-view .remote-stream, .media-view .remote-stream-audio {
  display: block;
  margin: 0 auto;
}

.media-view .remote-stream {
  height: 250px;
  width: auto;
}

.media-view .local-stream {
  display: block;
  width: 150px;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 20px;
  border: 1px solid #000;
}
