<div class="jumbotron">
  <h2>Peer-to-peer text, audio and video IM</h2>
  <p>Add your friends's e-mail addresses to your contacts list and you'll see when they're online and be able to chat with them.</p>
</div>

<p>Your contact list is stored on the server. Establishment of connection goes through the server. All communication between you and your contacts, however, goes directly from your browser to your correspondent's browser via WebRTC.</p>
