<div class="jumbotron">
  <h1>Peer-to-peer text, audio and video IM</h1>
  <p>Add your friends's e-mail addresses to your contacts list and you'll see when they're online and be able to chat with them.</p>
</div>
